@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 15% 90%;
    --foreground: 215 25% 27%;
    --card: 180 15% 96%;
    --card-foreground: 215 25% 27%;
    --popover: 180 15% 96%;
    --popover-foreground: 215 25% 27%;
    --primary: 182 20% 66%;
    --primary-foreground: 215 25% 27%;
    --secondary: 182 15% 80%;
    --secondary-foreground: 215 25% 27%;
    --muted: 182 15% 85%;
    --muted-foreground: 215 15% 45%;
    --accent: 207 26% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 182 15% 80%;
    --input: 182 15% 80%;
    --ring: 207 26% 49%;
    --radius: 0.5rem;
    --chart-1: 207 26% 49%;
    --chart-2: 182 20% 66%;
    --chart-3: 200 23% 55%;
    --chart-4: 210 24% 60%;
    --chart-5: 190 22% 70%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 180 10% 85%;
    --card: 215 28% 20%;
    --card-foreground: 180 10% 85%;
    --popover: 215 28% 17%;
    --popover-foreground: 180 10% 85%;
    --primary: 182 20% 66%;
    --primary-foreground: 215 25% 27%;
    --secondary: 215 20% 30%;
    --secondary-foreground: 180 10% 90%;
    --muted: 215 20% 25%;
    --muted-foreground: 180 10% 65%;
    --accent: 207 26% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 30%;
    --input: 215 20% 30%;
    --ring: 182 20% 66%;
    --chart-1: 207 30% 55%;
    --chart-2: 182 25% 70%;
    --chart-3: 200 28% 60%;
    --chart-4: 210 29% 65%;
    --chart-5: 190 27% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .animated-gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    --color-1: hsl(182, 20%, 80%);
    --color-2: hsl(207, 26%, 85%);
    --color-3: hsl(180, 15%, 88%);
    background: linear-gradient(300deg, var(--color-1), var(--color-2), var(--color-3));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  .dark .animated-gradient-bg {
    --color-1: hsl(215, 28%, 15%);
    --color-2: hsl(207, 26%, 20%);
    --color-3: hsl(210, 25%, 12%);
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .grid-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -9;
    background-image:
      linear-gradient(to right, hsla(var(--foreground), 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, hsla(var(--foreground), 0.05) 1px, transparent 1px);
    background-size: 2rem 2rem;
    opacity: 0.5;
  }
}
